.home{
  text-align: center;
  /* padding-top: 10%; */
}
.head{
  font-weight: 700;
  font-size: 80px;
}
.title{
  font-size: 35px;
}
.text{
  font-size: 30px;
}
.btn{
  background-color: blue;
  color: white;
  width: 250px;
  height: 80px;
}
.btn:hover{
  background-color: green;
  color: white;
}